{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="col-sm-6 col-md-5 mt-5 mx-auto">
  <div class="login-card">
    
    <h3 class="fs-1 login-card-title py-3 fw-bold">LOGIN</h3>
    <div class="card-body">
      <form action="{% url 'login' %}" class="mb-3 p-3" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="text" name="username" class="form-control inputDir" id="floatingInput" placeholder="name@example.com">
          <label class="login-email" for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control inputDir" id="floatingPassword" placeholder="Password">
          <label class="login-password" for="floatingPassword">Password</label>
        </div>
        <hr>
        <button type="submit" class="btn w-100 btn-primary btn-lg py-2 btn-login-card fs-2">Submit</button>
      </form>
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
          {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
      {% endif %}
      <a class="forget-password mx-3" href="{% url 'password_reset' %}">Lost password?</a> <span class="or">OR</span> <a class="register" href="{% url 'accounts:signup' %}">Register</a>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'accounts/scripts/login.js' %}"></script>
{% endblock scripts %}