{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'accounts/styles/change_password/change-password.css' %}">
{% endblock style %}
{% block content %}
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <p class="success-message fs-3 p-2 fw-bold">We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'accounts/scripts/change-password.js' %}"></script>
{% endblock scripts %}