{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/styles/change_password/change-password.css' %}">
{% endblock style %}

{% block content %}
  <div class="container">
    <div class="col-11 col-sm-8 col-md-6 col-lg-4 mx-auto">
      <div class="card mt-5 card-form rounded">
        <h3 class="fs-3 text-center card-title py-3 fw-bold">CHANGE PASSWORD</h3>
        <div class="card-body">
          <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-floating mb-3">
                {% render_field field class="form-control" placeholder=field.id_for_label autocomplete="off" %}
                <label for="{{field.id_for_label}}" class="fw-bold {{field.id_for_label}}">{{field.id_for_label}}</label>
              </div>
              {% if field.help_text %}
                {{field.help_text}}
              {% endif %}
              {% if field.errors %}
                {% for error in field.errors %}
                  <p class="text-danger">{{error}}</p>
                {% endfor %}
              {% endif %}
            {% endfor %}
            <hr>
            <input type="submit" class="btn btn-warning btn-lg fw-bold w-100 change_password_btn" value="Change">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'accounts/scripts/change-password.js' %}"></script>
{% endblock scripts %}
