{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/styles/change_password/change-password.css' %}">
{% endblock style %}

{% block content %}
    {% if validlink %}
    <div class="container mt-5">
        <div class="col-11 col-sm-8 col-md-6 col-lg-4 mx-auto">
          <div class="card card-form">
            <h3 class="fs-3 text-center card-title py-3 fw-bold">ENTER NEW PASSWORD</h3>
            <div class="card-body">
              <form action="" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                  {% render_field form.new_password1 class="form-control" placeholder=form.new_password1.id_for_label autocomplete="off" %}
                  <label for="{{form.new_password1.id_for_label}}" class="fw-bold {{form.new_password1.id_for_label}}">New password</label>
                </div>
                {% if form.new_password1.errors %}
                <div class="text-danger">
                  {{ form.new_password1.errors }}
                </div>
                {% endif %}
                <div class="form-floating mb-3">
                  {% render_field form.new_password2 class="form-control" placeholder=form.new_password2.id_for_label autocomplete="off" %}
                  <label for="{{form.new_password2.id_for_label}}" class="fw-bold {{form.new_password2.id_for_label}}">Confirm password</label>
                </div>
                {% if form.new_password2.errors %}
                <div class="text-danger">
                  {{ form.new_password2.errors }}
                </div>
                {% endif %}
                  <input type="submit" class="btn btn-warning btn-lg fw-bold w-100 reset-btn" value="Change my password">
                </form>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="container">
        <div class="alert alert-danger">
          <h1 class="fs-1 fw-bolder failed-title">Password reset failed</h1>
          <p class="fs-4 fw-bold failed-paragraph">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>
      </div>
        
    {% endif %}
{% endblock content %}

{% block scripts %}
<script src="{% static 'accounts/scripts/reset-password-confirm.js' %}"></script>
{% endblock scripts %}
