{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'accounts/styles/change_password/change-password.css' %}">
{% endblock style %}

{% block content %}
<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    <h1 class="success-title fs-2 fw-bolder">The password has been changed!</h1>
    <p><a href="{% url 'login' %}" class="login-link fw-bold">log in again?</a></p>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'accounts/scripts/reset-password-confirm.js' %}"></script>
{% endblock scripts %}
