{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" href="{% static '/orders/user_info/styles/user_info.css' %}">
{% endblock style %}

{% block content %}
<div class="container mt-5">
  <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div class="fs-3 fw-bold text-center">
      <span class="success-message">لقد تمت عملية الدفع بنجاح.</span>
      <hr>
      <span class="trans_num">رقم المعاملة هو: </span>{{order.transaction_id}}
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="card card-form rounded">
      <h3 class="fs-2 text-center card-title p-3 fw-bolder">المرجو إدخال المعلومات التالية</h3>
      <div class="card-body">
        <form action="" method="post">
          {% for field in form %}
            <div class="form-floating mb-3">
              {% render_field field class="form-control" id=field.id_for_label placeholder=field.id_for_label %}
              <label for="{{ field.id_for_label }}" class="{{field.id_for_label}} fw-bold">{{ field.id_for_label }}</label>
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-lg btn-success fw-bold w-100 save-btn">SAVE</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static '/orders/user_info/scripts/user_info.js' %}"></script>
{% endblock scripts %}