.carousel {
  box-shadow: 0 0 .2rem #7a7878,0 0 .4rem #7a7878;
  border-radius: 1rem;
}
.carousel.dark {
  box-shadow: 0 0 .4rem $accent,0 0 .4rem $accent;
}
.carousel .carousel-item img {
  height: 400px;
  border-radius: 1rem;
}

.costom-carousel-caption {
  h5 {
    font: {
      family: $Roboto;
      size: 6vmax;
      weight: 900;
    }
    @media(max-width: 310px) {
      font-size: 6vmax;
    }
    color: $accent;
    text-shadow: .1rem .1rem .5rem $dark,.1rem .2rem .5rem $dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
  }
}
.c-prev,.c-next {
  font-size: 40px;
}