@import '../../store/styles/layout/variables';
@import '../../store/styles/layout/globals';
@import './components/images';
@import './components/reviews';
@import './components/prices';
@import './components/options';
@import './components/description';
@import './components/reviews-info';
@import './components/product-comment';
@import './components/slider';
@import './components/cash-on-delivery';


#title {
  text-shadow: 0 0 rem(1) $gold,0 0 rem(1) $danger;
  hyphens: auto;
  font: {
    family: $Poppins;
    weight: 700;
    size: 3vmax;
  }
}
.add-to-cart-btn {
  font: {
    family: $Amiri;
    size: rem(30);
    weight: 700;
  }
  background-color: $accent;
  color: #eee;
  border: rem(2) solid #000;
  &:hover {
    color: #ccc;
    border: rem(2) solid #181818;
  }
}
.cache-en-delevery-btn {
  font: {
    family: $Amiri;
    size: rem(30);
    weight: 700;
  }
  background-color: $secondary;
  color: #eee;
  border: rem(2) solid #000;
  &:hover {
    color: #ccc;
    border: rem(2) solid #181818;
  }
}
.image-list {
  img {
    max-width: rem(100);
    max-height: rem(100);
  }
}
.add-to-cart-success {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  z-index: 300;
  .success-cart {
    z-index: 301;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #e6f7e2;
    color: #135536;
    border: 2px solid #0f5132;
    border-radius: 10px;
    padding: 30px;
    width: 700px;
    max-width: 100%;
  }
}
.details-wish-list {
  font-size: rem(30);
  margin-inline: rem(5);
  color: #fff;
  text-shadow: 0 0 rem(2) #000, 0 0 rem(2) #000;
  cursor: pointer;
  :hover {
    color: $danger;
  }
}
.contact-seler {
  font-size: rem(30);
  margin-inline: rem(5);
  color: #fff;
  text-shadow: 0 0 rem(2) #000, 0 0 rem(2) #000;
  cursor: pointer;
  &:hover {
    color: $accent;
  }
}
