@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// fonts
$Amiri: 'Amiri', serif;
$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Quantico: 'Quantico', sans-serif;

// colors
// $accent: #880E4F;
$accent: #d4052e;
// $accent: #FF1744;
$danger: #C62828;
$secondary: #7B1FA2;
$primary: #4527A0;
$light: #eee;
$dark: #050111;
// $dark: #04012b;
$dark2: #010107;
// $dark2: #020111;
// $dark: #212121;
$gold: #ffd700;

// Grid Responsive => @media (min-width: 575.98px) { ... }
$sm: 575.98px; // portrait phones
$md: 767.98px; // landscape phones
$lg: 991.98px; // tablets
$xl: 1199.98px; // desktops
$xxl: 1399.98px; // large desktops
