.product-card.dark {
  background-color: $dark2;
  color: #eee;
  box-shadow: 0 0 .2rem #fff,0 0 .2rem #fff;
}
.product-card.light {
  background-color: #ffffff;
  color: #212121;
  box-shadow: 0 0 .2rem $dark,0 0 .4rem $dark;
}
.product-card {
  width: 100%;
  border-radius: rem(4);
  .product-media {
    width: 100%;
    height: 250px;
    position: relative;
    user-select: none;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: rem(4);
      border-top-right-radius: rem(4);
    }
    .sale {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff;
      background-color: $danger;
      padding: 2px 10px;
      line-height: 2;
      border-radius: 2px;
      box-shadow: 0 0 .4rem $dark,0 0 .4rem $dark;
      cursor: default;
      font: {
        size: 15px;
        family: $Amiri;
        weight: 600;
      }
    }
    .stock-out {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      rotate: -25deg;
      color: #fff;
      background-color: #00000087;
      text-shadow: .1rem .1rem .4rem $danger,.1rem .1rem .4rem $danger;
      box-shadow: 0 0 .4rem $danger,0 0 .4rem $danger;
      border-radius: 10px;
      padding: 10px 20px;
      white-space: nowrap;
      font: {
        size: 23px;
        family: $Amiri;
        weight: 700;
      }
    }
  }
  .product-info {
    width: 100%;
    padding: 5px;
    .product-name {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      cursor: pointer;
      font: {
        family: $Roboto;
        size: rem(17);
        weight: 500;
      }
      &:hover {
        color: #bf9b30;
        text-decoration: underline;
        text-shadow: 0 0 .1rem $dark;
        
      }
    }
    .card-reviews {
      display: flex;
      align-items: center;
      .stars {
        color: $gold;
        text-shadow: 0 0 rem(2) $dark,0 0 rem(2) $dark;
        margin-inline: rem(1);
        font-size: rem(13);
      }
      &__result {
        margin-inline: rem(2);
        font: {
          size: rem(14);
          family: $Quantico;
          weight: 700;
        }
      }
      &__allUserRate{
        font: {
          size: rem(10);
          family: $Quantico;
          weight: 400;
        }
      }

    }
    .prices {
      display: flex;
      align-items: center;
      gap: rem(10);
      .price {
        font: {
          family: $Quantico;
          size: rem(16);
          weight: 700;
        }
      }
      .old-price {
        font: {
          family: $Quantico;
          size: rem(12);
          weight: 400;
        }
        text-decoration: line-through;
      }
    }
  }
}