@import '../profile/layout/variables';
@import '../profile/layout/globals';

.card-form {
  border: rem(2) solid $accent;
  .card-title {
    border-bottom: rem(1) solid $accent;
  }
  &.dark {
    background-color: $dark2;
  }
  label {
    color: $dark2;
  }
}